[data-parent="anyValue1"] {
    width: 280px;
    height: 210px;
    background: url(../img/1.jpg) 0/contain;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}
[data-parent="anyValue1"]:hover [data-overlay="anyValue2"] {
    width: 280px;
    height: 210px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0px;
}
[data-circle="anyValue3"],[data-circle="anyValue4"] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: #fff;
    color: #333;
    position: absolute;
    top: 85px;
    left: 95px;
    text-align: center;
    transition: all 0.3s linear;
}
[data-circle="anyValue3"] {
    transform: rotate(180deg);
    transform-origin: -110px -0px;
}
[data-circle="anyValue4"] {
    left: 140px;
    transform: rotate(180deg);
    transform-origin: 110px 0px;
}
[data-parent="anyValue1"]:hover > div > a {
    transform: rotate(0deg);
}

[data-block="anyValue3"],[data-block="anyValue4"] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    position: absolute;
    top: 85px;
    left: 95px;
    text-align: center;
    transform: scale(0,1);
    transition: all 0.3s linear;
}
[data-block="anyValue4"] {
    left: 140px;
    
}
[data-parent="anyValue1"]:hover > div > [data-block="anyValue3"], [data-parent="anyValue1"]:hover > div > [data-block="anyValue4"] {
    transform: scale(1,1);
}


[data-parent="someValue1"] {
    width: 280px;
    height: 210px;
    background: url(../img/overlay1.jpg) 0/cover;
    position: relative;
}
[data-overlay1="someValue2"] {
    width: 280px;
    height: 0px;
    position: absolute;
    top: 0;
    transition: all .4s linear;
}
[data-overlay2="someValue3"] {
    width: 280px;
    height: 0px;
    position: absolute;
    bottom: 0;
    transition: all .4s linear;
}
[data-parent="someValue1"]:hover [data-overlay1="someValue2"] {
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}
[data-parent="someValue1"]:hover [data-overlay2="someValue3"] {
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}
[data-button1="button1"], [data-button2="button2"] {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    background: #fff;
    color: #333;
    position: absolute;
    top: 85px;
    left: 95px;
    opacity: 0;
    transition: all .4s linear .4s;
}
[data-button2="button2"] {
    left: 140px;
}
[data-parent="someValue1"]:hover [data-button1="button1"], [data-parent="someValue1"]:hover [data-button2="button2"] {
    opacity: 1;
}

[data-overlay11="someValue22"] {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    transition: all .4s linear;
}
[data-overlay22="someValue33"] {
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all .4s linear;
}
[data-parent="someValue1"]:hover [data-overlay11="someValue22"] {
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}
[data-parent="someValue1"]:hover [data-overlay22="someValue33"] {
    width: 280px;
    height: 210px;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}